<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Async file upload</title>
</head>

<body>
    <form method="post" id="AscFU" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Envoyer le fichier</button>
    </form>

    <progress id="progress" value="0" max="100"></progress>

    <script>
        document.forms.namedItem("AscFU").addEventListener('submit', (ev) => {
            ev.preventDefault();

            let data = new FormData();

            if (document.forms["AscFU"].file.files[0].size > 20 * 1024 * 1024) {
                alert("Error: This file is too heavy! 20MB maximum autorized.");
                return;
            }

            data.append("file", document.forms["AscFU"].file.files[0]);

            let req = new XMLHttpRequest();

            req.open("POST", "/uploadfile", true);

            req.addEventListener('error', (err) => {}, false);

            req.upload.addEventListener('progress', (e) => {
                if (e.lengthComputable) {
                    var percentComplete = (e.loaded / e.total) * 100;
                    document.getElementById("progress").value = percentComplete;
                }
            }, false);

            req.addEventListener('load', () => {
                switch (req.responseText) {
                    case "done":
                        alert("Upload of file '" + data.get("file").name + "' finished");
                        break;
                    case "FILETOOHEAVY":
                        alert("Error: This file was too heavy!");
                        break;
                }
            }, false);

            req.send(data);
        }, false);
    </script>
</body>

</html>